body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width:767px) {
  .container {
    max-width: 90%;
    margin: 0px auto;
  }
}
header {
  background-color: #182c61;
}
header .container {
  background-color: #182c61;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
header .container h1 {
  font: 700 3rem/1.1 'Staatliches', cursive;
  color: #182c61;
  color: #ffffff;
}
header .container ul {
  display: flex;
}
header .container li {
  padding: 10px;
}
header .container nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
header .container nav ul li a:hover {
  background-color: #f7f7f7;
  color: #182c61;
  padding: 10px;
  border-radius: 10px;
}
#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about .container .store-front {
  margin: 60px 0;
  margin-left: 10px;
  border-radius: 10px;
}
#about .container h2 {
  font: 700 3rem/1.1 'Staatliches', cursive;
  margin: 60px 20px 0px;
  color: #182c61;
}
#about .container p {
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
  padding: 20px 20px;
}
.brands-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.brands-list img {
  width: 90px;
  box-shadow: none;
}
.brands-list img:nth-child(odd) {
  margin: 0 20px;
}
.social-links {
  display: flex;
}
.social-links img {
  height: 50px;
  margin: 5px;
}
#contact h2 {
  font: 700 3rem/1.1 'Staatliches', cursive;
  color: #182c61;
  padding-bottom: 20px;
}
.contact-methods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contact-methods h3 {
  font: 700 1.5rem/1.1 'Staatliches', cursive;
  color: #182c61;
  padding-bottom: 20px;
}
.contact-methods form {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border: 2px solid #182c61;
  border-radius: 5px;
  background-color: rgba(237, 237, 241, 0.904);
}
.contact-methods form input,
.contact-methods form textarea,
.contact-methods form button {
  margin: 10px 20px;
  padding: 15px;
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
}
.contact-methods button {
  background-color: #f7f7f7;
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  text-transform: uppercase;
}
.contact-methods button:hover {
  background-color: #ffffff;
}
footer {
  background-color: #182c61;
  padding: 30px;
}
footer p {
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
  text-align: center;
  color: #ffffff;
}
footer .subir {
  padding: 20px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  #about .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-methods {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width:767px) {
  #about .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    margin: 0 auto;
  }
  .contact-methods {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .store-front {
    width: 360px;
  }
  #about .container h2 {
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
  #about .container p {
    width: 375px;
    padding: 10px;
    font-size: 1rem;
    margin: 0px;
  }
  .container h1,
  h2,
  h3 {
    text-align: center;
    margin: 0px;
  }
  header .container {
    justify-content: center;
    padding: 20px;
  }
  .brands-list img {
    width: 80px;
    padding: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}
.Titulo {
  font: 700 3rem/1.1 'Staatliches', cursive;
  color: #182c61;
}
.SubTitulo {
  font: 700 1.5rem/1.1 'Staatliches', cursive;
  color: #182c61;
}
.FonteTexto {
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
}
.Botao {
  background-color: #f7f7f7;
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  text-transform: uppercase;
}
.Botao:hover {
  background-color: #ffffff;
}
body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width:767px) {
  .container {
    max-width: 90%;
    margin: 0px auto;
  }
}
header {
  background-color: #182c61;
}
header .container {
  background-color: #182c61;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
header .container h1 {
  font: 700 3rem/1.1 'Staatliches', cursive;
  color: #182c61;
  color: #ffffff;
}
header .container ul {
  display: flex;
}
header .container li {
  padding: 10px;
}
header .container nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
header .container nav ul li a:hover {
  background-color: #f7f7f7;
  color: #182c61;
  padding: 10px;
  border-radius: 10px;
}
#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about .container .store-front {
  margin: 60px 0;
  margin-left: 10px;
  border-radius: 10px;
}
#about .container h2 {
  font: 700 3rem/1.1 'Staatliches', cursive;
  margin: 60px 20px 0px;
  color: #182c61;
}
#about .container p {
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
  padding: 20px 20px;
}
.brands-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.brands-list img {
  width: 90px;
  box-shadow: none;
}
.brands-list img:nth-child(odd) {
  margin: 0 20px;
}
.social-links {
  display: flex;
}
.social-links img {
  height: 50px;
  margin: 5px;
}
#contact h2 {
  font: 700 3rem/1.1 'Staatliches', cursive;
  color: #182c61;
  padding-bottom: 20px;
}
.contact-methods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contact-methods h3 {
  font: 700 1.5rem/1.1 'Staatliches', cursive;
  color: #182c61;
  padding-bottom: 20px;
}
.contact-methods form {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border: 2px solid #182c61;
  border-radius: 5px;
  background-color: rgba(237, 237, 241, 0.904);
}
.contact-methods form input,
.contact-methods form textarea,
.contact-methods form button {
  margin: 10px 20px;
  padding: 15px;
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
}
.contact-methods button {
  background-color: #f7f7f7;
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  text-transform: uppercase;
}
.contact-methods button:hover {
  background-color: #ffffff;
}
footer {
  background-color: #182c61;
  padding: 30px;
}
footer p {
  font: 400 1.125rem/1.4 'Inter', sans-serif;
  color: #182c61;
  text-align: center;
  color: #ffffff;
}
footer .subir {
  padding: 20px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  #about .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-methods {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width:767px) {
  #about .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    margin: 0 auto;
  }
  .contact-methods {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .store-front {
    width: 360px;
  }
  #about .container h2 {
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
  #about .container p {
    width: 375px;
    padding: 10px;
    font-size: 1rem;
    margin: 0px;
  }
  .container h1,
  h2,
  h3 {
    text-align: center;
    margin: 0px;
  }
  header .container {
    justify-content: center;
    padding: 20px;
  }
  .brands-list img {
    width: 80px;
    padding: 0px;
  }
}
